<%#encoding:UTF-8%><!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- No caching headers -->
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="-1"/>

    <title><%= document.name %></title>

    <!--
        DataNucleus Documentation Template
        ==================================
        This template uses 
        * Bootstrap v3.3.7 (https://getbootstrap.com/) for navbar.
        * Bootswatch "cosmo" theme for Bootstrap (https://bootswatch.com/cosmo).
        * Bootstrap TOC plugin v0.4.1 (https://afeld.github.io/bootstrap-toc/)
          for the table of contents.
        * jQuery (necessary for Bootstrap's JavaScript plugins)
        * Font-Awesome for some icons used by Asciidoctor
        NOTE: tried using Font-Awesome CSS locally but then fails to work!
    -->
    <link href="<%= (attr :_basedir) %>css/bootswatch/3.3.7/bootstrap-cosmo.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/bootstrap-toc/0.4.1/bootstrap-toc.min.css" rel="stylesheet"/>

    <link href="<%= (attr :_basedir) %>css/asciidoctor/foundation.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/datanucleus_theme.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="<%= (attr :_basedir) %>js/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="<%= (attr :_basedir) %>js/bootstrap-toc/0.4.1/bootstrap-toc.min.js"></script>

    <!-- Coderay syntax formatter -->
    <style type="text/css">
        <%= ::Asciidoctor::Stylesheets.instance.coderay_stylesheet_data %>
    </style>
</head>

<body data-spy="scroll" data-target="#toc">

<!-- Navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Three line menu button for use on mobile screens -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- 'style' added to align image with navbar. FIX THIS -->
            <a class="navbar-brand" href="<%= (attr :_basedir) %>index.html">
                <img style="margin-top: -12px;" alt="Brand" src="<%= (attr :_basedir) %>images/datanucleus_icon.png"/>
            </a>
            <!-- TODO Any way to abstract the version from Maven? -->
            <a class="navbar-brand" href="<%= (attr :_basedir) %>index.html">DataNucleus v5.1</a>

            <!-- 'style' added to fix height of input box. FIX THIS -->
            <form class="navbar-form navbar-left" role="search" id="search-form" action="https://www.google.com/search" method="get" style="padding: 1px 15px;">
                <div class="form-group">
                    <input name="sitesearch" value="www.datanucleus.org" type="hidden">
                    <input name="q" type="text" class="form-control" placeholder="Search" style="margin-top: 7px; padding: 1px; border-radius: 5px; height: 30px; vertical-align: middle;">
                </div>
            </form>
        </div>

        <!-- Navbar that will collapse on mobile screens -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JDO API <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>documentation/products.html">Products Overview</a></li>
                        <li><a href="<%= (attr :_basedir) %>documentation/usage.html">Usage</a></li>
                        <li><a href="<%= (attr :_basedir) %>documentation/donations.html">Donations</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Development</li>
                        <li><a href="<%= (attr :_basedir) %>documentation/development.html">Development Guide</a></li>
                        <li><a href="<%= (attr :_basedir) %>documentation/release_plans.html">Release Plans</a></li>
                        <li><a href="<%= (attr :_basedir) %>documentation/problem_reporting.html">Problem Reporting</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JPA API <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>jpa/annotations.html">Annotations Reference</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/annotations.html">ORM.XML Reference</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/mapping.html">Mapping</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/enhancer.html">Enhancer</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Free</li>
                        <li><a href="https://forum.datanucleus.org">DataNucleus Forum</a></li>
                        <li><a href="https://gitter.im/datanucleus/Lobby">Gitter (DataNucleus)</a></li>
                        <li><a href="https://stackoverflow.com/questions/tagged/datanucleus">Stackoverflow (DataNucleus)</a></li>
                    </ul>
                </li>
                <li><a href="<%= (attr :_basedir) %>rest/api.html">REST API</a></li>
                <li><a href="<%= (attr :_basedir) %>datastores/index.html">Datastores</a></li>
                <li><a href="<%= (attr :_basedir) %>extensions/extensions.html">Extensions</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row-fluid">
        <div class="col-sm-9">
            <div class="page-title">
                <h1><%= document.name %></h1>
            </div>
            <div id="doc-content">
                <%= document.content %>
            </div>
        </div>
        <div class="col-sm-3">
            <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
        </div>
    </div>
</div>

<footer style="background-color:#c0e8e1; padding: 5px;">
<div class="container">
    <div class="row">
		<div class="col-sm-6 text-center-mobile">
			<h4>DataNucleus : flexible persistence</h4>
			<ul class="social-footer">
				<li><a href="https://twitter.com/datanucleus"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
		<div class="col-sm-6 text-center-mobile">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
				    <h5>Support</h5>
					<ul class="list-unstyled">
						<li><a href="http://forum.datanucleus.org">DataNucleus Forum</a></li>
						<li><a href="https://gitter.im/datanucleus/Lobby">Gitter (DataNucleus/Lobby)</a></li>
                        <li><a href="https://stackoverflow.com/questions/tagged/datanucleus"><i>Stackoverflow</i></a></li>
			        </ul>
			    </div>
				<div class="col-sm-6 text-center-mobile">
				    <h5>Information</h5>
					<ul class="list-unstyled">
						<li><a href="../../documentation/license.html">License (Apache 2)</a></li>
						<li><a href="../../documentation/problem_reporting.html">Problem Reporting</a></li>
			        </ul>
			    </div>
			</div>
        </div>
    </div>
    <hr/>
    <p class="text-center">&copy; 2008-2017 DataNucleus, Licensed under the Apache License, Version 2.0.</p>
</div>
</footer>

</body>
</html>
